<body class="bg-blue-200"></body>
<div class="flex flex-col items-center min-h-screen my-auto">
<h2 class="text-2xl font-bold">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), class: "bg-white p-6 rounded-lg", html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource, class: "text-red-500 text-sm mb-4"%>


  <div class="field">
    <%= f.label :email, class: "block text-gray-700 font-medium mb-2"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border border-black rounded w-fit py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= f.submit "Send me reset password instructions", class:"block text-gray-700 font-medium mb-2 bg-black py-2 px-4 rounded-full hover:bg-gray-700 hover:text-white" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
